
  <body>

<div class="ui  green segment">


   <div class="ui horizontal divider"><h1 class="ui green header center aligned">
       Afiliados IBC
   </h1></div>

   <form class="ui form" action="/blinds" method="get">
       <div class="ui center aligned basic segment">
         <div class="ui selection dropdown">
              <input type="hidden" name="busqueda" value="<%= @tipoBusqueda %>">
              <i class="dropdown icon"></i>
              <div class="default text">Busqueda por:</div>
              <div class="menu" required>
               <div class="item" value= "AP" >Apellido Paterno</div>
               <div class="item" value= "AM" >Apellido Materno</div>
             </div>
         </div>
        <div class="ui left icon action input">
          <i class="search icon"></i>
          <input type="text" name="texto" placeholder="Ej: Zurita" value="<%= @texto %>">
          <button type="input" class="ui blue submit button">buscar</button>
        </div>
      </div>
   </form>

<div class="ui divider">
</div>



  <div class="ui ">
  <table class="ui very basic table">
  <thead>
    <tr>
      <th>CI</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Detalle</th>
      <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
      <th>Editar</th>
      <%end%>
      <th>Original</th>
      <th>Hostorial</th>
      <%if current_user.has_role? :Administrador %>
        <th>Borrar</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
      <% @blinds.each do |blind| %>
    <tr>
          <td><%= blind.ci %></td>
          <td><%= blind.first_name %> <%= blind.second_name %></td>
          <td><%= blind.first_lastname %>  </td>
          <td><%= blind.second_lastname %></td>
          <td> <a class="ui  blue tiny button" href="/blinds/<%=blind.id%>/">Ver Copia</a></td>
          <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
          <td> <a class="ui yellow tiny button" href="/blinds/<%=blind.id%>/edit">Editar Copia</a></td>
          <%end%>
          <td> <a class="ui green tiny button" href="/blinds/<%=blind.id+1%>/">Ver original</a></td>
          <td><a href="/blinds/<%=blind.id%>/rehabilitations" class="ui tiny teal button" ></i> Historial de rehabilitacion</a></td>
          <%if current_user.has_role? :Administrador %>
          <td><a href="/blinds/<%=blind.id%>/delete" class="ui tiny red button" onclick="return confirm('Esta seguro de borrar?')"></i> Borrar</a></td>
          <%end%>

    </tr>
      <% end %>
  </tbody>

  <tfoot>
  <tr>
    <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
    <th><a class="ui green button" href="/blinds/new"><i class="plus icon"></i> Agregar Afiliado </a></th>
    <th colspan="5">
    <%end%>
    <th class="ui right floated" colspan="6">
      <%= will_paginate @blinds, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
    </th>
</tr>
</tfoot>
</table>

</div>
</div>
</body>
