  <body>
      <!-- formulario -->

      <div class="ui form container ">
        <div class="ui  segment">
          <div class="ui header">
              A.- LUGAR DE REGISTRO EN EL I.B.C.
          </div>
          <div class="ui divider"> </div>

        <div class="two fields">
          <div class="field">
            <label>Departamental</label>
            <p>Cochabamba</p>
          </div>
          <div class="field">
            <label>Regional</label>
            <p> </p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="ui form">
      <div class="ui    segment">
        <div class="ui header">
          B.- DATOS PERSONALES
        </div>
        <div class="ui divider"> </div>

      <div class="six fields">
        <div class="field">
          <label>Primer Nombre</label>
          <p><%=@blind.first_name%></p>
        </div>
        <div class="field">
          <label>Segundo Nombre</label>
          <p><%=@blind.second_name%></p>
        </div>
        <div class="field">
          <label>Apellido Paterno</label>
          <p><%=@blind.first_lastname%></p>
        </div>
        <div class="field">
          <label>Apellido Materno</label>
          <p><%=@blind.second_lastname%></p>
        </div>
        <div class="field">
          <label>Apellido Casada</label>
          <p><%=@blind.lastname_married%></p>
        </div>
        <div class="field">
          <label>Estado Civil</label>
          <p><%=@blind.civil_status%></p>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="four fields">
        <div class="field">
          <label>Dirección</label>
          <p><%=@blind.address%></p>
        </div>
        <div class="field">
          <label>Zona</label>
          <p><%=@blind.zone%></p>
        </div>
        <div class="field">
          <label>Provincia-Cantón</label>
          <p><%=@blind.province%></p>
        </div>
        <div class="field">
          <label>Departamento</label>
          <p><%=@blind.department%></p>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="five fields">
        <div class="field">
          <label>Nacionalidad</label>
          <p><%=@blind.nationality%></p>
        </div>
        <div class="field">
          <label>Idioma</label>
          <p><%=@blind.language%></p>
        </div>
        <div class="field">
          <label>Sexo</label>
          <p><%=@blind.sex%></p>
        </div>
        <div class="field">
          <label>FECHA DE REGISTRO AL IBC</label>
          <p><%=@blind.registration_date%></p>
        </div>
        <div class="field">
          <label>CODIGO DE REGISTRO(SIGMA)</label>
        </div>
      </div>

      <div class="ui divider"></div>


      <div class="six fields">
        <div class="field">
          <label>Fecha de Nacimiento</label>
          <p><%=@blind.birthday%></p>
        </div>
            <div class="field">
            <label>País</label>
            <p><%=@blind.country_birth%></p>
          </div>
          <div class="field">
            <label>Ciudad</label>
            <p><%=@blind.city_birth%></p>
          </div>
          <div class="field">
            <label>Provincia</label>
            <p><%=@blind.province_birth%></p>
          </div>
        <div class="field">
          <label>Documento de Identificación y Número</label>
          <p><%=@blind.ci%></p>
        </div>
        <div class="field">
          <label>Teléfono o Celular de Referencia</label>
          <p><%=@blind.cellphone%></p>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
            <label>Ingresos del Beneficiario</label>
            <p><%=@blind.beneficiary_income.chomp("otro")%> <%=@blind.beneficiary_income_others%></p>
          </div>
        <div class="field">
          <label>Ocupacion Actual</label>
          <p><%=@blind.current_occupation%></p>
        </div>
        <div class="field">
          <label>Ocupacion Anterior</label>
          <p><%=@blind.previous_occupation%></p>
        </div>
      </div>

      <div class="two fields">
        <div class="field">
            <label>Grado de Instruccion</label>
            <p><%=@blind.degree_instruction%></p>
          </div>
        <div class="field">
          <label>Otros estudios</label>
          <p><%=@blind.other_studies%></p>
        </div>
      </div>

    </div>
  </div>

  <br>

  <div class="ui form container ">
    <div class="ui    segment">
      <div class="ui header">
          C.- DATOS MEDICOS GENERALES DEL BENEFICIARIO:
      </div>
      <div class="ui horizontal divider"><h5>DIAGNOSTICO MEDICO OFTALMOLÓGICOS DEL BENEFICIARO (copia del FORM. IBC - 02)</h5></div>
     <div class="three fields">
      <div class="field">
        <label>TIPO DE CEGUERA</label>
        <p><%=@blind.medical.type_blindness%></p>
      </div>
      <div class="field">
        <label>CAUSAS DE LA CUEGUERA</label>
         <p><%=@blind.medical.causes_blindness%></p>
      </div>
      <div class="field">
        <label>TIEMPO DE LA CEGUERA (Años - Meses)</label>
         <p><%=@blind.medical.time_blindness%></p>
      </div>
    </div>

    <div class="ui horizontal divider"><h5>CONDICIÓN GENERAL DE SALUD DEL BENEFICIARIO</h5></div>
    <div class="field">
      <label>Diagnóstico médico general(Especifique)</label>
       <p><%=@blind.medical.general_diagnosis%></p>
    </div>
    <div class="field">
      <label>Dónde recibió atencion médica</label>
      <p><%=@blind.medical.medical_attention_place%></p>
    </div>
    <div class="field">
      <label>Discapacidad adicional</label>
      <p><%=@blind.medical.additional_disability%></p>
    </div>
    <div class="field">
      <label>Cuenta con Seguro Médico</label>
      <% if@blind.medical.health_insurance != nil %>
        <% if@blind.medical.health_insurance %>
          <p>Si</p>
        <%else%>
          <p>No</p>
        <%end%>
      <%end%>

    </div>
    <div class="field">
      <label>Nombre de la institución del Seguro Médico</label>
       <p><%=@blind.medical.name_health_insurance%></p>
    </div>
  </div>
</div>

<br>

<div class="ui form container ">
  <div class="ui   segment">
    <div class="ui header">
         D.- DATOS SOBRE LA VIVIENDA
    </div>
   <div class="two fields">
    <div class="field">
      <label>La vivienda se encuentra en la Zona</label>
      <p><%=@blind.home.zone%></p>
    </div>
    <div class="field">
      <label>Tipo de vivienda</label>
        <p><%=@blind.home.home_type%></p>
    </div>
  </div>

  <div class="field">
    <label>Servicios con que cuenta la vivienda</label>
      <p><%=@blind.home.services.chomp("otro")%> <%=@blind.home.services_others%></p>
  </div>
  <div class="field">
    <label>Tenencia de la vivienda</label>
      <p><%=@blind.home.tenecia.chomp("otro")%> <%=@blind.home.tenecia_others%></p>
  </div>
  <div class="field">
    <label>Accesibilidad de la vivienda</label>
      <%if @blind.home.accessibility=="otro" %>
        <p><%=@blind.home.accessibility_others%></p>
      <%else%>
        <p><%=@blind.home.accessibility%></p>
      <%end%>
  </div>

  <div class="ui horizontal divider"><h5>La Vivienda Cuenta con: </h5></div>
  <div class="three fields">
   <div class="field">
     <label>Numero de habitaciones</label>
     <p><%=@blind.home.rooms%></p>
   </div>
   <div class="field">
     <label>Baño</label>
     <% if@blind.home.bathroom != nil %>
       <% if@blind.home.bathroom %>
          <p>Si</p>
        <%else%>
          <p>No</p>
        <%end%>
      <%end%>
   </div>
   <div class="field">
     <label>Cocina</label>
     <% if@blind.home.kitchen != nil %>
       <% if@blind.home.kitchen %>
          <p>Si</p>
        <%else%>
          <p>No</p>
        <%end%>
      <%end%>
   </div>
 </div>

         <div class="three fields">
            <div class="field">
              <label>Paredes</label>
              <%if @blind.home.wall_type=="otro" %>
                <p><%=@blind.home.wall_type_others%></p>
              <%else%>
                <p><%=@blind.home.wall_type%></p>
              <%end%>
            </div>
            <div class="field">
              <label>Techo</label>
              <%if @blind.home.roof_type=="otro" %>
                <p><%=@blind.home.roof_type_others%></p>
              <%else%>
                <p><%=@blind.home.roof_type%></p>
              <%end%>
            </div>
            <div class="field">
              <label>Piso</label>
              <%if @blind.home.floor_type=="otro" %>
                <p><%=@blind.home.floor_type_others%></p>
              <%else%>
                <p><%=@blind.home.floor_type%></p>
              <%end%>
            </div>
         </div>
        </div>
      </div>


      <br>

      <div class="ui form container ">
              <div class="ui   segment">
                <div class="ui header">
                  E.- DATOS SOBRE LA REHABILITACION DEL INTERESADO
                </div>
                  <table class="ui very basic table">
                  <thead>
                    <tr>
                      <th>Lugar</th>
                      <th>Desde:</th>
                      <th>Hasta</th>
                      <th>TIPO DE REHABILITACION</th>
                      <th>CAPACITACIÓN Y HABILIDADES</th>
                      <th>Fecha que se modifico</th>
                      <!--
                      <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
                      <th>Accion</th>
                      <%end%>
                    -->
                    </tr>
                  </thead>
                  <tbody>
                      <% @blind.rehabilitations.each do |rehab| %>
                    <tr>
                          <td><%=rehab.place%></td>
                          <td><%=rehab.first_date%>  </td>
                          <td><%=rehab.last_date%></td>
                          <td><%=rehab.type_rehab.chomp("otro")%> <%=rehab.type_rehab_others%></td>
                          <td><%=rehab.training_skils%></td>
                          <td><%=rehab.created_at%></td>
                          <!--
                          <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
                          <td>
                            <a href="/rehabilitations/<%=rehab.id%>/edit" class="ui green tiny button">Editar</a>
                          </td>
                          <td>
                            <a href="/rehabilitations/<%=rehab.id%>/delete" class="ui red tiny button"  onclick="return confirm('Esta seguro de borrar?')">Borrar</a>
                          </td>
                          <%end%>
                        -->

                   </tr>
                      <% end %>
                  </tbody>
                   <tfoot>
                    <tr>
                      <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador and !@blind.original%>
                      <th colspan="9"><a class="ui green button item  rehab " ><i class="plus icon"></i> Agregar rehabilitacion </a></th>
                      <%end%>

                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
      <br>
      <% if !@blind.original%>
      <div class="ui form container ">
        <div class="ui   segment">
          <div class="ui header">
               F.- DATOS DE PARENTESCO O RELACION SOCIAL
          </div>
            <table class="ui very basic table">
            <thead>
              <tr>
                <th>TIPO DE PARENTESCO</th>
                <th>NOMBRES</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>GRADO DE INSTRUCCION</th>
                <th>OCUPACION</th>
                <th>DISCAPACIDAD</th>
                <th>FECHA DE NACIMIENTO</th>
                <th>OBSERVACION</th>
                <th>Telefono</th>
                <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
                <th>Accion</th>
                <%end%>
              </tr>
            </thead>
            <tbody>
                <% @blind.familiars.each do |familiar| %>
              <tr>
                    <td><%=familiar.relationship%></td>
                    <td><%=familiar.names%></td>
                    <td><%=familiar.first_lastname%>  </td>
                    <td><%=familiar.second_lastname%></td>
                    <td><%=familiar.degree_instruction%></td>
                    <td><%=familiar.occupation%></td>
                    <td><%=familiar.disability%>  </td>
                    <td><%=familiar.birthday%></td>
                    <td><%=familiar.observation%></td>
                    <td><%=familiar.cellphone%></td>
                    <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
                    <td>
                      <a href="/familiars/<%=familiar.id%>/edit" class="ui green tiny button">Editar</a>
                      <a href="/familiars/<%=familiar.id%>/delete" class="ui red tiny button"  onclick="return confirm('Esta seguro de borrar?')">Borrar</a>
                    </td>
                    <%end%>

             </tr>
                <% end %>
            </tbody>
              <tfoot>
              <tr>
                <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
                <th colspan="9"><a class="ui green button item  familiar " ><i class="plus icon"></i> Agregar Familiar</a></th>
                <%end%>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>


      <div id="familiar-modal" class="ui modal">
      <div class="ui form container ">
        <div class="ui   segment">
          <div class="ui header">
               Formulario nuevo familiar
          </div>
          <form action="/familiars" method="post">
            <input type="hidden" name="familiar[blind_id]" value="<%=@blind.id%>" >
            <div class="four fields">

                <div class="field">
                  <label>Nombres</label>
                  <input type="text" name="familiar[names]" placeholder="Primer y/o segundo nombre" required>
                </div>
                <div class="field">
                  <label>Apellido Paterno</label>
                  <input name="familiar[first_lastname]" placeholder="Apellido paterno" type="text">
                </div>
                <div class="field">
                  <label>Apellido Materno</label>
                  <input name="familiar[second_lastname]"  placeholder="Apellido Materno" type="text">
                </div>
                <div class="field">
                  <label>Telefono</label>
                  <input name="familiar[cellphone]"  maxlength="12" placeholder="Fijo/celular" type="text">
                </div>

            </div>
            <div class="four fields">
                <div class="field">
                  <input type="hidden" name="familiar[blind_id]" value="<%=@blind.id%>" >
                  <label>Ocupacion</label>
                  <input name="familiar[occupation]" placeholder="Ocupacion" type="text">
                </div>
                <div class="field">
                  <label>Discapacidad</label>
                  <input type="text" name="familiar[disability]" placeholder="Discapacidad" >
                </div>
                <div class="field">
                  <label>Fecha de nacimiento</label>
                  <input name="familiar[birthday]"  type="date">
                </div>
                <div class="field">
                  <label>Observacion</label>
                  <input name="familiar[observation]"  placeholder="Observacion" type="text">
                </div>


            </div>
            <div class = "two fields">
              <div class="field">
                  <label>Parentesco</label>
                  <div class="ui selection dropdown">
                      <input type="hidden" name="familiar[relationship]">
                       <i class="dropdown icon"></i>
                       <div class="default text">Parentesco</div>
                       <div class="menu">
                        <div class="item" value= "Padre" >Padre</div>
                        <div class="item" value= "Madre" >Madre</div>
                        <div class="item" value= "Esposo(a)" >Esposo(a)</div>
                        <div class="item" value= "Hijo(a)" >Hijo(a)</div>
                        <div class="item" value= "Hermano(a)" >Hermano(a)</div>
                        <div class="item" value= "Cuñado(a)" >Cuñado(a)</div>
                        <div class="item" value= "Tio(a)" >Tio(a)</div>
                        <div class="item" value= "Abuelo(a)" >Abuelo(a)</div>
                        <div class="item" value= "Sobrino(a)" >Sobrino(a)</div>
                        <div class="item" value= "Primo(a)" >Primo(a)</div>
                        <div class="item" value= "Tutor(a)" >Tutor(a)</div>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label>Grado de instruccion</label>
                  <div class="ui selection dropdown">
                     <input type="hidden" name="familiar[degree_instruction]">
                     <i class="dropdown icon"></i>
                     <div class="default text">Seleccione grado de instruccion</div>
                     <div class="menu">
                        <div class="item" value= "Ninguno" >Ninguno</div>
                        <div class="item" value= "Primaria" >Primaria</div>
                        <div class="item" value= "Secundaria" >Secundaria</div>
                        <div class="item" value= "Tecnio" >Tecnio</div>
                        <div class="item" value= "Universitario" >Universitario</div>
                        <div class="item" value= "Licenciatura" >Licenciatura</div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="ui center aligned basic segment">
              <button type="input" class="ui green button"><i class="ui add icon"></i>Guardar</button>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div id="rehab-modal" class="ui modal">
    <div class="ui form container ">
      <div class="ui   segment">
        <div class="ui header">
               E.- DATOS SOBRE LA REHABILITACION DEL INTERESADO
        </div>
        <form action="/rehabilitations" method="post">
        <input type="hidden" name="rehabilitation[blind_id]" value="<%=@blind.id%>" >
         <div class="three fields">
          <div class="field">
            <label>Donde:</label>
            <input  name="rehabilitation[place]" placeholder="Donde Recibio Rehabilitacion" type="text">
          </div>
          <div class="field">
            <label>Desde:</label>
            <input  name="rehabilitation[first_date]"  type="date">
          </div>
          <div class="field">
            <label>Hasta:</label>
            <input  name="rehabilitation[last_date]"  type="date">
          </div>
         </div>
         <div class=" two fields">
           <div class="field">
             <label>TIPO DE REHABILITACION</label>
             <div class="ui selection dropdown">
                  <input type="hidden" name="rehabilitation[type_rehab]">
                  <i class="dropdown icon"></i>
                  <div class="default text">Seleccione tipo de rehabilitacion</div>
                  <div class="menu">
                     <div class="item" value= "Funcional" onclick="deshabilitaInputrehabilitacion()" >Funcional</div>
                     <div class="item" value= "Tecnica" onclick="deshabilitaInputrehabilitacion()" >Tecnica</div>
                     <div class="item" value= "Laboral" onclick="deshabilitaInputrehabilitacion()" >Laboral</div>
                     <div class="item" value= "Otro" onclick="habilitaInputrehabilitacion()">Otro</div>
                 </div>
             </div>
           </div>
           <script language="JavaScript">
                function habilitaInputrehabilitacion(){
                  document.getElementById("tiporehabilitacion").disabled = false;
                }

                function deshabilitaInputrehabilitacion(){
                  document.getElementById("tiporehabilitacion").disabled = true;
                  document.getElementById("tiporehabilitacion").value = "";
                }
            </script>
          <div class="field">
            <label>Especifique otro:</label>
                <input id="tiporehabilitacion"name="rehabilitation[type_rehab_others]" placeholder="Otro" type="text" disabled>
          </div>
         </div>
         <div class="field">
          <label>CAPACITACIÓN Y HABILIDADES</label>
          <input name="rehabilitation[training_skils]" placeholder="Donde Recibio Rehabilitacion" type="text">
         </div>
        </div>
        </div>
          <div class="ui center aligned basic segment">
            <button type="input" class="ui green button"><i class="ui add icon"></i>Guardar</button>
          </div>
        </form>
        </div>
    <%end%>
        <script type="text/javascript">
         $(document).ready(function(){
             $('.familiar').click(function(){
                 $('#familiar-modal').modal({blurring: true}).modal('show');
             });
              $('.ui.dropdown').dropdown();
         });
        </script>

        <script type="text/javascript">
         $(document).ready(function(){
             $('.rehab').click(function(){
                 $('#rehab-modal').modal({blurring: true}).modal('show');
             });
              $('.ui.dropdown').dropdown();
         });
        </script>


  </body>
