<!DOCTYPE html>
<html>
<head>
  <title>IBC-Cbba</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <meta charset="utf-8">

  <script type="text/javascript">
         $(document).ready(function(){
             $('.login').click(function(){
                 $('#login-modal').modal({blurring: true}).modal('show');
             });
              $('.ui.dropdown').dropdown();
         });
  </script>
  <style media="screen">
    #main-header{
       width: 100%;
       left:0;
       top:0;
       z-index: 100;
       position:fixed;
     }
      #boton_menu{
        display: none;
      }
      #main-content{
        background: url(<%= asset_path 'Fondo.png'%>)
      }
      @media screen and (max-width: 1150px ) {
        #header_menu{
          display: none;
        }
        #boton_menu{
          display: flex;
        }
        #main-content{
          background: url(<%= asset_path 'Fondo.png'%>)
       }
    }
  </style>

  <header id="main-header">
  <!--header-->
    <div id="header_menu" class="ui segment fixed secondary pointing tiny menu" style="background-color:white;" >
          <div class="item">
            <%= image_tag("logo.png", class: "ui small image") %>
          </div>
          <% if !user_signed_in? %>
          <a class="green item active" href="#section1">Inicio</a>
          <a class="green item" href="#section2">¿Quiénes somos?</a>
          <a class="green item" href="#section3">Publicaciones</a>
          <a class="green item" href="#section4">¿Por qué registrarse? </a>
          <a class="green item" href="#section5">Servicios IBC</a>
          <a class="green item" href="#section6">Contacto</a>
          <%else%>
          <div class="ui dropdown green item">Inicio<i class="dropdown icon"></i>
          <div class="menu">
            <a class="green item" href="/#section1">Inicio</a>
            <a class="green item" href="/#section2">¿Quiénes somos?</a>
            <a class="green item" href="/#section3">Publicaciones</a>
            <a class="green item" href="/#section4">¿Por qué registrarse? </a>
            <a class="green item" href="/#section5">Servicios IBC</a>
            <a class="green item" href="/#section6">Contacto</a>
          </div>
        </div>

            <div class="ui dropdown green item">Afiliados<i class="dropdown icon"></i>
            <div class="menu">
              <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
              <a class="green item" href="/blinds/new"><i class="add user icon"></i>Añadir Nuevo Afiliado</a>
              <%end%>
              <a class="green item" href="/blinds"><i class="list layout icon"></i>Lista de Afiliados</a>
            </div>
          </div>

          <div class="ui dropdown green item">Publicaciones<i class="dropdown icon"></i>
          <div class="menu">
            <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
            <a class="green item" href="/publications/new"><i class="add circle icon"></i>Nueva Publicacion</a>
            <%end%>
            <a class="green item" href="/publications"><i class="list layout icon"></i>Ver Publicaciones</a>
          </div>
        </div>
            <a class="green item" href="/reports">Reportes Afiliados</a>
            <%if current_user.has_role? :Administrador%>
              <div class="ui dropdown green item">Usuarios<i class="dropdown icon"></i>
                <div class="menu">
                  <a class="green item" href="/user/new"><i class="add user icon"></i>Crear Nuevo Usuario</a>
                  <a class="green item" href="/user"><i class="list layout icon"></i>Lista de Usuarios</a>
               </div>
              </div>
            <%end%>
          <%end%>

           <div class="right menu">
            <% if user_signed_in? %>
                <div class="ui dropdown green item"><i class="user icon"></i> <%=current_user.name%> <%=current_user.lastname%><i class="dropdown icon"></i>
                <div class="menu">
                  <div class="header"><%=current_user.email%></div>
                  <%= link_to  edit_user_registration_path, class: "green item" do %>
                      <i class="edit icon"></i> Editar Cuenta
                  <% end %>
                  <%= link_to   destroy_user_session_path,:method => :delete, class: "green item" do %>
                    <i class="sign out icon"></i>Cerrar Sesión
                  <% end %>
                  </div>
              </div>
            <%else%>
                <a class="item  login">Iniciar Sesión</a>
            <%end%>
          </div>
      </div>
    <!--fin Menu-->
    <!--boton menu-->
    <div id="boton_menu" class="ui menu" style="margin:auto">
      <a id="toggle" class="item"><i class="sidebar icon"></i>Menu</a>
      <div class="right menu">
       <% if user_signed_in? %>
           <div class="ui dropdown green item"><i class="user icon"></i> <%=current_user.name%> <%=current_user.lastname%><i class="dropdown icon"></i>
           <div class="menu">
             <div class="header"><%=current_user.email%></div>
             <%= link_to  edit_user_registration_path, class: "green item" do %>
                 <i class="edit icon"></i> Editar Cuenta
             <% end %>
             <%= link_to   destroy_user_session_path,:method => :delete, class: "green item" do %>
               <i class="sign out icon"></i>Cerrar Sesión
             <% end %>
             </div>
         </div>
       <%else%>
           <a class="item  login">Iniciar Sesión</a>
       <%end%>
     </div>
    </div>
    <div class="ui sidebar vertical left menu" style="margin:auto">
      <% if !user_signed_in? %>
      <a class="green item active" href="#section1">Inicio</a>
      <a class="green item" href="#section2">¿Quiénes somos?</a>
      <a class="green item" href="#section3">Publicaciones</a>
      <a class="green item" href="#section4">¿Por qué registrarse? </a>
      <a class="green item" href="#section5">Servicios IBC</a>
      <a class="green item" href="#section6">Contacto</a>
      <%else%>
      <div class="green item">
        Inicio
        <div class="menu">
          <a class="green item" href="/#section1">Inicio</a>
          <a class="green item" href="/#section2">¿Quiénes somos?</a>
          <a class="green item" href="/#section3">Publicaciones</a>
          <a class="green item" href="/#section4">¿Por qué registrarse? </a>
          <a class="green item" href="/#section5">Servicios IBC</a>
          <a class="green item" href="/#section6">Contacto</a>
        </div>
      </div>

      <div class="green item">
        Afiliados
        <div class="menu">
          <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
          <a class="green item" href="/blinds/new"><i class="add user icon"></i>Añadir Nuevo Afiliado</a>
          <%end%>
          <a class="green item" href="/blinds"><i class="list layout icon"></i>Lista de Afiliados</a>
        </div>
      </div>

      <div class="green item">
        Publicaciones
        <div class="menu">
          <%if current_user.has_role? :Administrador or current_user.has_role? :Modificador %>
          <a class="green item" href="/publications/new"><i class="add circle icon"></i>Nueva Publicacion</a>
          <%end%>
          <a class="green item" href="/publications"><i class="list layout icon"></i>Ver Publicaciones</a>
        </div>
      </div>
        <a class="green item" href="/reports">Reportes Afiliados</a>
        <%if current_user.has_role? :Administrador%>
        <div class="green item">
          Usuarios
          <div class="menu">
            <a class="green item" href="/user/new"><i class="add user icon"></i>Crear Nuevo Usuario</a>
            <a class="green item" href="/user"><i class="list layout icon"></i>Lista de Usuarios</a>
         </div>
        </div>
        <%end%>
      <%end%>
    </div>
    <div id="login-modal" class="ui modal">
      <div class="ui center aligned basic segment">

        <div class="header"><%= image_tag("logo.png", class: "ui centered small image") %></div>
              <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <div class="ui divider"></div>
              <form class="ui form">
                  <div class="field">
                    <div class="ui left icon input">
                    <i class="user icon"></i>
                    <%= f.text_field :email , placeholder: "Nombre de usuario" %>
                    </div>
                 </div>
                 <br>
                <div class="field">
                    <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <%= f.password_field :password , placeholder: "Contraseña"%>
                    </div>
                </div>
                <br>
                    <%= f.submit 'Entrar',class:"ui fluid teal submit button" %>
                <% end %>
              </form>

      </div>
    </div>
    <script type="text/javascript">
      $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
      });
    </script>
  </header>
</head>
<body>
<section id="main-content">
<br>
<br>
<br>
<br>
<br>
  <%= yield %>
<br>
</section>
</body>
<footer style="background-color:black;">
<br>    <div class="ui center aligned basic segment">
      <h4 class="ui header"><font color="white  ">Desarrollado por Alumnos de la Universidad Catolica - Cochabamba</font></h4>
      <a class="ui circular facebook icon  button" href="https://www.facebook.com/universidadcatolicabolivianacba/?fref=ts">
          <i class="facebook icon"></i>
        </a>
        <a class="ui circular bronw icon  button" href="https://www.instagram.com/lacatocbba/" >
          <i class="instagram icon"></i>
        </a>
        <a class="ui circular red icon  button" href="https://www.youtube.com/user/ucbcbalacato">
          <i class="youtube icon"></i>
        </a>
</div>
<br>
<br>
</footer>
</html>
